<html>
 <head>
        {% if title %}
        <title>{{ title }}'s House Price Prediction</title>
        {% else %}
        <title>Welcome to House Price Prediction</title>
        {% endif %}
        <link rel="stylesheet" type="text/css" href="/static/style.css">
    </head>
 <body>
    <h1> House Price Prediction based on Linear Regression</h1>
    <p style="text-align:left;font-size:12; font-style:italic;font-family:Times">Get Original Dataset From <a href="https://www.kaggle.com/gunishj/carpricepred/downloads/carpricepred.zip/1">Here</a></p>
    <h2>Enter your House details</h2>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.Avg_Area_Income.label }}</br>
            {{ form.Avg_Area_Income(size=32) }}</br>
            {% for error in form.Avg_Area_Income.errors %}
            <span style="color:red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.Avg_Area_House_Age.label }}</br>
            {{ form.Avg_Area_House_Age(size=32) }}</br>
            {% for error in form.Avg_Area_House_Age.errors %}
            <span style="color:red;">{{ error }}</span>
            {% endfor %}
        </p>
         <p>
            {{ form.Avg_Area_Number_of_Rooms.label }}</br>
            {{ form.Avg_Area_Number_of_Rooms(size=32) }}</br>
            {% for error in form.Avg_Area_Number_of_Rooms.errors %}
            <span style="color:red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.Avg_Area_Number_of_Bedrooms.label }}</br>
            {{ form.Avg_Area_Number_of_Bedrooms(size=32) }}</br>
            {% for error in form.Avg_Area_Number_of_Bedrooms.errors %}
            <span style="color:red;">{{ error }}</span>
            {% endfor %}
        </p>
         <p>
            {{ form.Area_Population.label }}</br>
            {{ form.Area_Population(size=32) }}</br>
            {% for error in form.Area_Population.errors %}
            <span style="color:red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.predict() }}
        </p>
    </form>
</body>
</html>